@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

:root{
    --color-principal: #090E25;
    --color-box: #111C34;
    --color-input: #1A2A44;
    --color-claro: #FEFEFF;
    --color-blue: #1091F3;
    --color-grey: #888888;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
}

body{
    background-color: var(--color-principal);
    padding: 0 2rem;
    margin-bottom: 2rem;
}

/* ------------------------------------------HEADER------------------------------------------ */


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
/*     width: 100%; */
    padding: 0 2rem 0 2rem;
    margin-bottom: 1rem;
    background-color: var(--color-principal);
    position: sticky;
    top: 0;
    z-index: 1;
}

.headerLeft{
    display: flex;
    align-items: center;
    gap: 1.3rem;
}

.logotwr{
    height: 2rem;
    cursor: pointer;
}

.inputExplore{
    height: 2.2rem;
    width: 11rem;
    border-radius: 10px;
    background-color: var(--color-box);
    color: var(--color-claro);
    border: none;
    padding-left: 1rem;
    font-weight: 700;
}

header nav{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.buttonNav{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 0.4rem;
    height: 2.2rem;
    width: 5.8rem;
    border-radius: 10px;
    border: none;
    font-weight: 800;
    cursor: pointer;
}

.buttonNav:hover{
    transition: 0.5s;
    background-color: var(--color-input);
    color: var(--color-claro);
}

.dots:hover{
    transition: 1s;
    transform: rotate(360deg)
}

.mail:hover{
    animation: saltito 0.8s;
}

@keyframes saltito {
    0% {
    transform: translateY(0);
    }
    50% {
    transform: translateY(-10px);
    }

    100% {
    transform: translateY(0px);
    }
}

.bell:hover{
    transform-origin: top center;
    animation: balanceo 1s ease-in-out;
}

@keyframes balanceo {
    0% {
    transform: rotate(0deg); 
    }
    25% {
    transform: rotate(15deg); 
    }
    50% {
    transform: rotate(-15deg); 
    }
    100% {
    transform: rotate(0deg); 
    }

    
}

.container{
    position: relative;
}

.son{
    position: absolute;
    left: 44.44%;
    right: 3.7%;
    bottom: 53.33%;
}

.home{
    height: 1.2rem;
    cursor: pointer;
}

.notif{
    height: 1rem;
    width: 1rem;
    background-color: var(--color-blue);
    border-radius: 50%;
    border: 2.5px solid var(--color-principal);
    position: relative;
    cursor: pointer;
}

.numNotif{
    position: absolute;
    display: flex;
    left: 25%;
    top: 10%;
    font-size: 0.5rem;
    color: var(--color-claro);
}

.line4{
    height: 3rem;
}

.perfil{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 3px;
    align-items: center;
    height: 2.7rem;
    width: 13rem;
    cursor: pointer;
    background-color: var(--color-box);
    color: var(--color-claro);
    border: none;
    border-radius: 25px;
}

.fotoPerfil{
    height: 2.4rem;
}



/* ------------------------------------------MAIN------------------------------------------ */

main{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.asideIzq{
    display: flex;
    flex-direction: column;
    width: 21vw;
    gap: 1.5rem;
}

/* -------------------PROFILE------------------- */

.profileCard{
    border-radius: 10px;
    background-color: var(--color-box);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: var(--color-claro);
    gap: 0.3rem;
}

.imgProfile{
    position: absolute;
    height: 5.5rem;
    top: 7%;
    transform: translateY(-90%);
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.banner{
    width: 100%;
    margin-bottom: 3rem;
}

h1{
    font-size: 1.2rem;
    font-weight: 600;
}

.arroba{
    color: var(--color-grey);
    font-size: small;
    font-weight: 100;
}

.descripcion{
    font-size: 0.9rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 1rem;
    padding: 0 2rem;
}

.line{
    width: 100%;
}

.ff{
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

.fff{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ffff{
    font-size: smaller;
    color: var(--color-grey);
}

.profileCard a{
    margin: 1rem;
    text-decoration: none;
    color: var(--color-blue);
}


/* -------------------PYMK------------------- */


.peopleMayYouKnow{
    border-radius: 10px;
    background-color: var(--color-box);
    width: 100%;
    color: var(--color-claro);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.peopleMayYouKnow h2{
    font-size: 1.1rem;
}

.users{
    display: flex;
    gap: 1rem;
}

.usersPic{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.usersPic img{
    height: 3rem;
}

.usersName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.usersName h3{
    font-size: medium;
}

.usersName span{
    color: var(--color-grey);
    font-size: smaller;
}

.usersF{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
}

.usersF button{
    border-radius: 20px;
    height: 2rem;
    width: 5rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.peopleMayYouKnow a{
    text-decoration: none;
    color: var(--color-blue);
}



/* ------------------------------------------PRINCIPAL------------------------------------------ */


.principal{
    display: flex;
    flex-direction: column;
    width: 53vw;
}

.talk{
    border-radius: 10px;
    background-color: var(--color-box);
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    flex-direction: row;
    color: var(--color-claro);
    gap: 1.5rem;
    padding: 1rem;
}

.usersPic{
    cursor: pointer;
}

.upload{
    display: flex;
}

.whatsHappening input{
    border: none;
    border-radius: 10px;
    background-color: var(--color-input);
    height: 2.5rem;
    padding-left: 1.5rem;
    width: 42vw;
    color: var(--color-claro);
    margin-top: 0.188px;
}

.whatsHappening input::placeholder{
    color: var(--color-claro);
}

.inputFather{
    position: relative;
}

.inputSon{
    position: absolute;
    left: 93%;
    top: 25%;
    cursor: pointer;

}

.inputSon .head{
    position: relative;
}

/* .head:hover{
    transition: 0.5s;
    color: var(--color-claro);
} */

.face{
    position:absolute;
    display: flex;
    top: 25%;
    left: 25%;
}

.whatsHappening{
    display:flex;
    flex-direction: column;
    gap: 1.5rem;
}

.upload{
    display: flex;
    align-items:flex-start;
    gap: 3.5rem;
}

.upButtons{
    display: flex;
    align-items: center;
    gap: 0.625rem;
    border: 2px solid var(--color-input);
    border-radius: 20px;
    padding: 0.7rem;
    font-size: smaller;
    cursor: pointer;
}

.upButtons img{
    height: 1.1rem;
}

.upButtons:hover{
    transition: 0.5s;
    background-color: var(--color-input);
}



/* ------------------------------------------TRENDS------------------------------------------ */


.asideDer{
    border-radius: 10px;
    background-color: var(--color-box);
    width: 21vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    color: var(--color-claro);
    padding: 1rem;
    gap: 1.5rem;
}

.trendsForYou{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trendsForYou h2{
    font-size: medium;
}

.trendsForYou img{
    height: 1.3rem;
    cursor: pointer;
}

.trendsForYou img:hover{
    transition: 1s;
    transform: rotate(90deg)
}

.asideDer h3{
    color: var(--color-grey);
    font-size: small;
    font-weight: 100;
}

.hashtag{
    font-size: larger;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dotsss{
    color: var(--color-grey);
    font-size: larger;
}

.twNum{
    color: var(--color-grey);
    font-size: 0.8rem;
    font-weight: 100;
    display: flex;
}

.asideDer a{
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--color-blue);
    font-size: small;
}


